<div class="container py-4">

  <div class="row row-cols-3 g-4">

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide1.jpg" class="card-img-top" alt="imagen iron man">

        <div class="card-body">
          <h1 class="h5 card-title">Iron Man</h1>
          <p class="card-text">Tony Stark - El Hombre de Hierro</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide2.jpg" class="card-img-top" alt="imagen capitan america">

        <div class="card-body">
          <h1 class="h5 card-title">Capitán América</h1>
          <p class="card-text">Steve Rogers - El Primer Vengador</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide3.jpg" class="card-img-top" alt="imagen thor">

        <div class="card-body">
          <h1 class="h5 card-title">Thor</h1>
          <p class="card-text">Dios del Trueno</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide4.jpg" class="card-img-top" alt="imagen hulk">

        <div class="card-body">
          <h1 class="h5 card-title">Hulk</h1>
          <p class="card-text">Bruce Banner - El increíble Hulk</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide5.jpg" class="card-img-top" alt="imagen viuda negra">

        <div class="card-body">
          <h1 class="h5 card-title">Viuda Negra</h1>
          <p class="card-text">Natasha Romanoff - Black Widow</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="../../assets/images/slide6.jpg" class="card-img-top" alt="imagen hawkeye">

        <div class="card-body">
          <h1 class="h5 card-title">Ojo de Halcón</h1>
          <p class="card-text">Clint Barton - Hawkeye</p>
        </div>
      </div>
    </div>

  </div>

</div>
