<div class="container mt-5">
  <div class="row slider">
    <div class="col">
      <div class="carousel slide" data-bs-ride="carousel" id="slider">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Iron Man</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Tony Stark</h6>
                <img src="../../assets/images/slide1.jpg" class="card-img-top" alt="imagen iron man">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">Iron Man 1</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2008</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Tony Stark/Iron Man</span></p>
                <button type="button" (click)="navegar()" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>
          <div class="carousel-item">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Capitán América</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Steve Rogers</h6>
                <img src="../../assets/images/slide2.jpg" class="card-img-top" alt="imagen capitán américa">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">Capitán América: El Primer Vengador</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2009</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Steve Rogers/Capitán América</span></p>
                <button type="button" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Thor</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Dios del Trueno</h6>
                <img src="../../assets/images/slide3.jpg" class="card-img-top" alt="imagen thor">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">Thor</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2011</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Thor Odinson/Dios del Trueno</span></p>
                <button type="button" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Hulk</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">El Hombre Increíble</h6>
                <img src="../../assets/images/slide4.jpg" class="card-img-top" alt="imagen hulk">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">El increíble Hulk</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2008</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Hulk /Bruce Banner</span></p>
                <button type="button" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Natasha Romanoff</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Viuda Negra</h6>
                <img src="../../assets/images/slide5.jpg" class="card-img-top" alt="imagen viuda negra">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">Iron Man 2</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2010</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Natasha Romanoff / Black Widow</span></p>
                <button type="button" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="card bg-warning" style="width: 18rem; margin: auto; margin-bottom: 1.2rem;">
              <div class="card-body">
                <h5 class="card-title">Clint Barton</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Ojo de Halcón</h6>
                <img src="../../assets/images/slide6.jpg" class="card-img-top" alt="imagen ojo de halcón">
                <p class="card-text">Marvel</p>
                <p class="fw-bold">Primera Aparición: <span class="fw-normal">Thor</span></p>
                <p class="fw-bold">Año: <span class="fw-normal">2011</span></p>
                <p class="fw-bold">Personaje: <span class="fw-normal">Clint Barton / Hawkeye</span></p>
                <button type="button" class="btn btn-primary">Leer más...</button>
              </div>
            </div>

          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>

        <div class="carousel-indicators">
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slideshow1"
          ></button>
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="1"
              aria-label="Slideshow2"
          ></button>
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="2"
              aria-label="Slideshow3"
          ></button>
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="3"
              aria-current="true"
              aria-label="Slideshow3"
          ></button>
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="4"
              aria-label="Slideshow4"
          ></button>
          <button
              type="button"
              data-bs-target="#slider"
              data-bs-slide-to="5"
              aria-label="Slideshow5"
          ></button>
        </div>

      </div>
    </div>
  </div>
</div>
